.dart_tool/
.flutter-plugins*
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png
lib/generated/
ios/Pods/
ios/.symlinks/
macos/Pods/
macos/.symlinks/
.metadata
*.lock
pubspec.lock
*.iml
.idea/
*.ipr
*.iws
.vscode/
.DS_Store
*.swp
*.swo
*~
